* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}

.start-page,
.quiz-start,
.results-box {
    position: absolute;
    top: 35%;
    left: 25%;
    text-align: center;
}

.start-page h2 {
    padding-bottom: 15px;;
}

.start-page p {
    margin-bottom: 5px;
}

/* Start of QUIZ CSS */

.answer-options button {
    display: inline-block;
    width: 100px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.questions p {
    margin-bottom: 20px;
}

.timer {
    text-align: left;
    margin-bottom: 10px;
}

.score {
    margin-bottom: 20px;
}

.name {
    margin-bottom: 20px;
}

.restart {
    padding: 5px;
    margin-right: 10px;
}

.quit {
    padding: 5px;;
}

.score li {
    list-style: none;
}